{# templates/index.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}
    <div class="body">
        <div class="form">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
            <div id="errors">
                {% if error is defined and error %}
                    {{ error }}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="js/api.js" type="text/javascript"></script>
{% endblock %}
